%h1 Impressum / Info

%h2 Was ist dies?
%p Hier lagern Notizen des Programmieralltags, dem das Battle-hardened Coder-Team der #{link_to "pludoni GmbH", "http://www.pludoni.de/"}.

%h2 Impressum

%p Das Impressum der pludoni GmbH findet auch für diese Anwendung #{link_to "Impressum", "http://www.pludoni.de/impressum"}.



%h2 Credits

%ul
  %li Code-Highlighting: coderay mit einem eigenen Solarize-based Farbschema
  %li Inspiriert durch Makandra Notes. Da es deren Rails App leider nicht OpenSource gab, bauten wir was eigenes
  %li
    Allerhand Ruby-Gems:
    .CodeRay.code
      = gemfile_credits
