@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "variables";

body {
  font-family: "Puritan20Normal", sans-serif;
}

#header {
  @include linear-gradient(color-stops($bg-color, lighten($bg-color, 25%)));
  color: $font-color;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  #headercontent {
    padding: $header-margin;
    font-weight: bold;
  }
  .login {
    float: right;
    margin-right: 10px;
  }
  @include box-shadow(#888 0px 0px 10px);
}

#container {
  margin: 50px;
}



